
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
        
h1 {
  text-align:center;

}



ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
