

ul.navbar {
  list-style-type: none;
  padding: 1;
  margin: 3;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 10em 
}


h1 {
  text-align:center;
  color:#;
}

h2 {
   text-align:center;
   }

p {
  text-align:center;
    }

a {
 text-align:center;
 }






ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: wavy }

address {
  margin-top: 3em;
  padding-top: 3em;
  border-top: thin dotted }
