$debug: false;

@if $debug {
  $visual-grid: true;
  $visual-grid-color: red;
  $visual-grid-index: front;
  $visual-grid-opacity: 0.1;
}

@import "bourbon/bourbon";
@import "neat/neat";

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 480px);

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

.cell {
  background-color: cyan;
  border: 1px solid green;
}

.wrapper { 
  
  @include outer-container;
  .main { 
    @include media($mobile) {
      @include span-columns(12);
    }
    
    @include media($desktop) {
      @include span-columns(8);
    } 
   }
  .secondary { @include span-columns(4); }
}
