$debug: false;

@if $debug {
  $visual-grid: true;
  $visual-grid-color: red;
  $visual-grid-index: front;
  $visual-grid-opacity: 0.1;
}

@import "bourbon/bourbon";
@import "neat/neat";

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 480px);

body {
  background-color: #F8F8F8;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
}

core-menu-button::shadow core-menu::shadow div {
  border: 1px solid black;
  background-color: white;
}

.menubar {
  background-color: #82E8D5;
  margin-bottom: 0px;
  box-shadow: 0 0 0.35em 0.08em rgba(0, 0, 0, 0.45);
}

.content {
  margin: 1.5%;
}

.cell {
  border: 1px solid green;
}



div.rounded-shadow {
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.35);
  border-radius: 0.25em;

  @include media($mobile) {
    border: none;
    border-radius: 0;
    width: 100vw;
    position: fixed;
    left: 0px;
  }
}

.wrapper {
  margin-top: 0px;

  @include outer-container;
  .main {
    @include media($mobile) {
      @include span-columns(12);
    }

    @include media($desktop) {
      @include span-columns(8);
    }
   }

  .title {
    @include span-columns(12);
    text-align: center;
  }

  .test {
    @include span-columns(2);
    max-width: 200px;
  }
}
